@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=PT+Sans:wght@400;700&display=swap');

*

    {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }


html

    {
    min-width: 320px;
    width: 100%;
    font: normal 18px/1.4em 'Inconsolata', monospace;
    }


body

    {
    display: block;
    width: auto;
    height: auto;
    background: #DAD7CD;
    color: #588157;
    text-align: left;
    }


a, a:link, a:visited, a:active, a:hover

    {
    color: #588157;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 2px #DAD7CD solid;
    }

    a:hover {border-bottom: 2px #A3B18A solid;}

h1, p {padding-bottom: 0.67rem}


#menu

    {
    display: block;
    padding: 0.67rem 1.62rem;
    color: #92A079;
    text-align: right;
    }

    #menu li {list-style: none; display: inline-block;}

