@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=PT+Sans:wght@400;700&display=swap');


*

    {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }


html

    {
    min-width: 320px;
    width: 100%;
    }


body

    {
    display: block;
    width: auto;
    height: auto;
    background: #DAD7CD;
    color: #588157;
    font: normal 18px/1.4em 'Inconsolata', monospace;
    text-align: center;
    }


a, a:link, a:visited, a:active, a:hover

    {
    color: #588157;
    text-decoration: none;
    text-transform: lowercase;
    border-bottom: 2px #DAD7CD solid;
    }

    a:hover {border-bottom: 2px #A3B18A solid;}


nav

    {
    display: block;
    padding: 0.67em 1.62em;
    color: #92A079;
    text-align: right;
    }

    nav ul li {list-style: none; display: inline-block;}


header

    {
    display: block;
    padding: 1.62em;
    background: #344E41;
    }

    header h2

        {
        color: #A3B18A;
        font: normal 1.62em/1.3em 'PT Sans', sans-serif;
        text-align: center;
        }


footer

    {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 0.67em;
    grid-row-gap: 0.67em;
    padding: 1.62em;
    color: #92A079;
    text-align: left;
    }

    footer div.label {text-align: right;}
    footer div.label:after {content:"\00BB";}

    footer ul                      {display:block; padding-bottom:0.67em;}
    footer ul li                   {list-style: none; display: inline-block;}
    footer ul li:after             {content:"\0020\2022";}
    footer ul li:first-child       {display: block;}
    footer ul li:first-child:after {content:"\0020\203A";}
    footer ul li:last-child:after  {content:"";}


