@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&family=PT+Sans:wght@400;700&display=swap');

[hidden]
    {
    display: none;
    }

*

    {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }


html

    {
    min-width: 320px;
    width: auto;
    font: normal 16px/1.3em 'PT Sans', sans-serif;
    }


body

    {
    display: block;
    width: auto;
    height: auto;
    background: #DAD7CD;
    color: #588157;
    text-align: center;
    }


a, a:link, a:visited, a:active, a:hover

    {
    border-bottom: 2px #B4C29B solid;
    color: #588157;
    text-decoration: none;
    text-transform: lowercase;
    }

    a:hover {border-bottom: 2px #588157 solid; color: #344E41;}

h1, h2, h3, p, ul

    {
    margin-bottom: 0.67rem;
    }

nav

    {
    display: block;
    padding: 0.67rem 1.62rem;
    color: #92A079;
    text-align: right;
    }

    nav ul li 
        {
        list-style: none; display: inline-block;
        }

    nav i
        {
        vertical-align:middle;
        } 

header

    {
    display: block;
    padding: 1.62em;
    background: #344E41;
    }

    header h1

        {
        display: block;
        color: #A3B18A;
        font: normal 2.4em/1.3em 'PT Sans', sans-serif;
        text-align: center;
        }

article
    {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 0.67rem;
    grid-row-gap: 0.67rem;
    padding: 1.62rem;
    color: #588157;
    text-align: left;
    }

    article h2

        {
        font-size: 1.62rem;
        line-height: 1.3em;
        }

    article h3

        {
        font-size: 1.0rem;
        line-height: 1.3em;
        }

    article code

        {
        font: normal 16px/1.3rem 'Inconsolata', monospace;
        white-space: pre-wrap;
        }

footer

    {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 0.67rem;
    grid-row-gap: 0.67rem;
    padding: 1.62rem;
    background-color: #C9C6BC;
    color: #92A079;
    text-align: left;
    }

div.label {text-align: right;}
div.label:after {content:"\00a0\00BB";}

ul.linkList {display: block; font-size: 0.0rem; padding-bottom:0.67rem;}
ul.linkList li {list-style: none; display:inline-block; font-size:1.0rem; width: max-content; white-space: normal}
ul.linkList li:nth-child(1) {list-style: none; display: block; width: calc(100%);}
ul.linkList li:before {content: '\00a0\2022\00a0';}
ul.linkList li:nth-child(1):after {content: '\00a0\203A\00a0';}
ul.linkList li:nth-child(1):before {content: '';}
ul.linkList li:nth-child(2):before {content: '';}
