@import url('https://fonts.googleapis.com/css2?family=Inspiration&Nanum+Brush+Script&family=Nanum+Pen+Script&family=Rock+Salt&display=swap');

/* BASE ELEMENTS */

[hidden]
  {
  display: none;
  }

*
  {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }


html
  {
  min-width: 320px;
  width: auto;
  }


body
  {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: auto;
  height: auto;
  color: #333333;
  font-weight: normal;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.15em;
  text-align: left;
  }

  h1, h2, h3, h4, h5, h6
    {
    display: block;
    line-height: 1.15em;
    margin: 0.0em 0.0em;
    padding: 0;
    }


/* SEMANTIC LAYOUT ELEMENTS */

main
  {
  display: block;
  }

section
  {
  display: block;
  }

  .bs-notebook
    {
    background-color: #F9F9F9;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    color: #333333;
    font: normal 1.0rem/1.15em "Nanum Pen Script", cursive;
    text-align: left;
    }

footer
  {
  display: block;
  margin: 0;
  padding: 0;
  background-color: black;
  color: #EEEEEE;
  font: normal 1.0rem/1.15em monospace;
  text-align: left;
  }


/* TEXT FORMATTING ELEMENTS */


/* FONTS */

.inspiration
  {
  font-family: "Inspiration", cursive;
  font-weight: 400;
  font-style: normal;
  }

.nanum-pen-script
  {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  }

.nanum-brush-script
  {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
  }

.rock-salt
  {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  }
